/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

.visually-hidden {
    /* Делаем элемент визуально скрытым на странице (он есть, его считывают устройства) */
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

body {
    background-color: rgb(36, 36, 36);
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(212, 212, 212);
    font-weight: 500;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
	margin: 0px auto;
}

/*
.content {
    flex: 1 1 auto;
}*/

/* ======================== HEADER ======================== */
.header {
    background-color: rgb(29, 29, 29);
    border-bottom: 1px solid rgb(255, 166, 0);

}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-height: 80px;

    /*border-bottom: 1px solid rgb(24, 24, 24);*/
   
    align-items: center;
}

/* ====== HEADER верхний ====== */

.header-up-row {
    border-bottom: 1px solid rgb(255, 166, 0);
}

.header-logo {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.header-logo p {
    padding-top: 5px;
    padding-left: 15px;
}

.header-logo-img {
    background-color: rgb(255, 166, 0);
    height: 50px;
    width: 50px;

    border-radius: 50%;
}

.header-contacts {
    width: 25%;
}


.header-contacts p + p {
    padding-top: 5px;
}

/* ====== HEADER нижний ====== */

.header-bott-nav {
    width: 100%;
}

.header-bott-nav-ul {
    display: flex;
    justify-content: space-between;
}

.header-nav-item {
    color: orange;
}

/* ======================== MAIN ======================== */

.heading {
    margin-top: 25px;
}

h1 {
    font-size: 55px;
    font-weight: 600;
    line-height: 1.2em;
    color: orange;
}

h2 {
    font-size: 40px;
    color: orange;

}

section {
    padding: 40px 0;
}

.light-grey {
    background-color: rgb(36, 36, 36);

}

.dark-grey {
    background-color: rgb(29, 29, 29);
}

/* ====== SECTION ЛЕВАЯ и ПРАВАЯ ====== */

.remont-jopi {
    display: flex;
    justify-content: space-around;
}

.remont-jopi-card{
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: rgb(51, 51, 51);
    border-radius: 10px;

    margin: 50px auto;
}

.remont-jopi-card-hole {
    height: 80px;
    width: 80px;

    background-color: rgb(51, 51, 51);
    border-radius: 50%;

    margin-top: 170px;
}

/* ====== SECTION Услуги ====== */

.uslugi-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 50px;
}

.uslugi {
    font-size: 25px;
    padding-right: 100px;
}

.uslugi-item {
    line-height: 1.4em;
}

.uslugi-card {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: rgb(51, 51, 51);
    border-radius: 10px;
}

/* ====== SECTION Виды жоп ====== */

/* ====== SECTION Преимущества ====== */

.my_plus-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    padding-top: 50px;
}

.my_plus {
    font-size: 25px;
    padding-left: 100px;
}

.my_plus-item {
    line-height: 1.4em;
}

.my_plus-card {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: rgb(51, 51, 51);
    border-radius: 10px;
}

/* ====== SECTION Как я ремонтирую ====== */

/* ======================== FOOTER ======================== */

.footer {
    display: flex;
    align-items: center;

    background-color: rgb(29, 29, 29);
    min-height: 80px;

    border-top: 1px solid rgb(255, 166, 0);
    padding: 10px 0;
}

.footer-flex {
    display: flex;
    flex-direction: row;
}

.footer-flex p + p {
    padding-left: 150px;
}